<div class="formulaire">
  <div class="signin">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="card card-signup">
              <form class="form" method="" action="">
                <div class="card-header card-header-primary ">
                  <h3>Edit</h3>
                </div>
                <h4>Renseignez vos informations</h4>
                <div class="card-body">

                    <div class="input">
                      <%= f.input :email, required: true, autofocus: true %>
                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                      <% end %>
                    </div>
                        <div class="input">
                          <%= f.input :first_name %>
                        </div>

                        <div class="input">
                          <%= f.input :last_name %>
                        </div>


                        <div class="input">
                          <%= f.input :avatar %>
                        </div>



                        <div class="input">
                          <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
                        </div>



                        <div class="input">
                          <%= f.input :password_confirmation, required: false %>
                        </div>



                      <div class="input">
                        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
                      </div>


                    <div class="card-footer">
                      <div class="form-actions">
                        <%= f.button :submit, "Valider", class:'btn-primary' %>
                        
                      </div>
                    </div>
                    <p>Unhappy?</p>
                    <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
                  </div>


                  </div>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
