<div class="edit">
  <div class="editform">

      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="card card-signup">
              <form class="form" method="" action="">
                <div class="card-header card-header-primary ">
                  <h3>Gérer mes objets</h3>
                </div>
                <div class="card-body">
                  <ul class="providers-list">
                    <% PROVIDERS.each do |provider| %>
                      <li class="providers-list--item">
                        <%= link_to provider[:link] do %>
                          <%= image_tag "providers/#{provider[:image]}", class: 'img-circle img-thumbnail' %>
                          <span class="title"><%= provider[:name] %></span>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </form>
            </div>
            <%= render "shared/actions_objects", device: @devices %>
            <div class="form-actions">
              <!-- <%= link_to "Retour", devices_path, class:"btn btn-success" %> -->
            </div>
          </div>
        </div>
      </div>
      </div>
</div>
