<div class="container">
  <h1>Gérer ma maison</h1>
  <%= simple_form_for (@house) do |f|  %>
  <%= f.input :name, required: true, autofocus: true  %>


  <h3>Mes objets</h3>

  <% @devices = current_user.house.devices %>
  <%= link_to " Ajouter un objet", new_device_path, class: "btn btn-default" %>

  <%= render "shared/actions_objects", device: @devices %>

  <div class="form-actions">
    <%= f.button :submit, "Valider" %>
    <%= link_to "Retour", devices_path, class:"btn btn-success" %>
  </div>
  <% end %>

</div>
