<div class="container">
  <h1>Mettre à jour objet connecté</h1>
  <div class="row">
    <div class="col-xs-12 col-md-4">

    <h2><%=  "#{@device.type.name} #{@device.type.brand.name}"  %></h2>

      <%= simple_form_for (@device) do |f|  %>
      <%= f.input :name  %>
      <%= f.button :submit, "Enregistrer", class:"btn btn-success" %>
      <%= link_to "Retour", devices_path, class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

<div class="edit">
  <div class="editform">

      <div class="form-inputs">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">

            <div class="card card-signup">
              <form class="form" method="" action="">
                <div class="card-header card-header-primary text-center">
                  <h3>Mes objets</h3>
                </div>
                <div class="card-body">
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <% @devices = current_user.house.devices %>
                      <%= link_to " Ajouter un objet", new_device_path, class: "btn btn-default" %>
                    </div>
                  </span>
                </div>
              </form>
            </div>
            <%= render "shared/actions_objects", device: @devices %>
            <div class="form-actions">
              <!-- <%= link_to "Retour", devices_path, class:"btn btn-success" %> -->
            </div>
          </div>
        </div>
      </div>
      </div>
</div>
