<div class="container">
  <h1>Dashboard</h1>
  <div class="container">
    <div class="row cards">
        <%= render "shared/card_smappee", device: @devices %>
        <%= render "shared/card_smappee", device: @devices %>
        <%= render "shared/card_smappee", device: @devices %>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row cards">
        <% @devices.each do |device| %>
          <% if device.name == "Thermostat Nest" %>
            <%= render "shared/card_devices", device: device %>
            <% elsif device.name == "Camera Nest"%>
            <%= render "shared/card_devices", device: device %>
            <% else %>
            <%= render "shared/card_devices", device: device %>
            <% end %>
        <% end %>
    </div>
  </div>
</div>
