<div class="container">
  <h1>Ajouter un objet connecté</h1>
  <%= simple_form_for (@device) do |f|  %>
  <%= f.input :name, required: true, autofocus: true  %>
  <%= f.input :id, label: "Brand:", required: true, collection: Brand.all.collect {|b| [ b.name, b.id ] } %>
  <%= f.input :type_id, label: "type", required: true, collection: Type.all.collect {|t| [ t.name, t.id ] } %>


    <div class="form-actions">
      <%= f.button :submit, "Valider" %>
      <%= link_to "Retour", devices_path, class:"btn btn-success" %>
    </div>

  <% end %>


  <div class="container">
    <%= link_to 'Connecter ma camera nest', "https://home.nest.com/login/oauth2?client_id=#{ENV['NEST_ID']}&state=STATE" %>
  </div>


  <%= link_to 'connect hue', "https://api.meethue.com/oauth2/auth?appid=#{ENV['HUE_CLIENT_ID']}&clientid=71465&deviceid=#{244}&devicename=energy-saver&state=gakbjgmbjkgkmqdjbgkmqb&response_type=code"%>
</div>
