<div class="container">
  <h1>Ajouter un objet connecté</h1>
  <%= simple_form_for (@device) do |f|  %>
  <%= f.input :name %>
  <%= f.input :id, label: "Brand:", collection: Brand.all.collect {|b| [ b.name, b.id ] } %>
  <%= f.input :type_id, label: "type", collection: Type.all.collect {|t| [ t.name, t.id ] } %>
  <%= f.button :submit, "Valider", class:"btn btn-success" %>
  <%= link_to "Retour", devices_path(@device), class:"btn btn-success" %>
  <% end %>
</div>


