<!-- <%= link_to device_path(device) do %>
  <div class="card card-nav-tabs light">
    <div class="card-header card-header-primary">
      <h3><%= device.name %></h3>
    </div>
    <div class="card-body">
      <%= link_to 'Regarder', actions_path, class:'btn btn-primary smappee', type:"button" %>
    </div>
  </div>
<% end %> -->

<div class="card">
  <div class="card-header card-header-primary">
    <h3><%= device.name %></h3>
  </div>
  <div class="body-bottom">
    <div class="card-body  light align">
      <%= link_to 'Regarder', @camera_url, class:'btn btn-primary smappee', type:"button", target: '_blank' %>
    </div>
  </div>
</div>
