

<div class="formulaire">
    <div class="signin">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup">
              <form class="form" method="" action="">
                <div class="card-header card-header-primary ">
                  <h3>Sign In</h3>
                  <div class="inline social-line">
                    <%- if devise_mapping.omniauthable? %>
                      <%- resource_class.omniauth_providers.each do |provider| %>
                        <%= link_to omniauth_authorize_path(resource_name, provider) do %>
                          <i class="fab fa-facebook-f"></i>
                        <% end %>
                      <% end -%>
                    <% end -%>
                  </div>
                </div>
                <h4>Or Be Classical</h4>
                <div class="card-body">
                  <span class="bmd-form-group"><div class="input-group">
                  <%= f.input :email, required: false, autofocus: true %>
                  </div></span>
                  <span class="bmd-form-group"><div class="input-group">
                    <%= f.input :password, required: false %>
                  </div></span>
                  <div class="form-check">
                      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  </div>
                  <%= render "devise/shared/links" %>
                </div>
                <div class="card-footer">
                  <div class="form-actions">
                    <%= f.button :submit, "Log in", class: "btn btn-primary" %>
                  </div>
                  <% end %>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
